
$bodyFont: Merriweather;
$bodyColor: #B4B4B4;
$heading-oneFont: Arial;
$heading-oneFontSize: 18px;
$heading-oneFontWeight: bold;
$heading-oneColor: #2B7FCA;


.page-wrapper {
  margin: 80px 100px;
  font-family: $bodyFont;
  font-color: $bodyColor;
  font-size: 18px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

#header {
  font-size: 54px;
  margin-top: 0px;
  margin-bottom: -10px;
}

#subheader {
  font-size: 18px;
  margin-bottom: 100px;
}

#contact {
margin-bottom: 100px;
}

#heading-one {
  font-family: $heading-oneFont;
  font-size: $heading-oneFontSize;
  font-weight: $heading-oneFontWeight;
  color: $heading-oneColor;
  margin-top: 50px;
}

#heading-two {
font-size: 18px;
}

#heading-three {
font-size: 16px;
}

#phone-number {
font-weight: bold;
margin-bottom: -15px;
}

#email {
margin-bottom: -15px;
}

#linkedin {
  font-family: Arial;
}
